# Do not commit Latex Buildfiles
/**/*.aux
Latex/*.out
Latex/*.bbl
Latex/*.toc
Latex/*.lof
Latex/*.log*
Latex/*.blg
Latex/*.gz
Latex/*.nlo

# Do not commit Models
/DegenerationCode/*.h5
/DegenerationCode/*.hdf5
/GradientAscent/*.pth 
/SaliencyMaps/*.h5
/SaliencyMaps/*.hdf5

# Do not commit Jupyter caches
/DegenerationCode/__pycache__
/DegenerationCode/__pycache__/*

# Do not commit unused items from GAF Code
/GradientAscent/__pycache__/*
/GradientAscent/__pycache__
/GradientAscent/.ipynb_checkpoints
/GradientAscent/.ipynb_checkpoints/*
# Do not commit generated images from GAF Code
/GradientAscent/generated
/GradientAscent/generated/*

# Do not commit unused items from Saliency Code
/SaliencyMaps/__pycache__/*
/SaliencyMaps/__pycache__
/SaliencyMaps/.ipynb_checkpoints
/SaliencyMaps/.ipynb_checkpoints/*
