# Do not commit Latex Buildfiles
/**/*.aux
Latex/*.out
Latex/*.bbl
Latex/*.toc
Latex/*.lof
Latex/*.log*
Latex/*.blg
Latex/*.gz
Latex/*.nlo

# Do not commit Models
/DegenerationCode/*.h5
/DegenerationCode/*.hdf5
/GAFCode/*.pth 

# Do not commit Jupyter caches
/DegenerationCode/__pycache__
/DegenerationCode/__pycache__/*

# Do not commit unused items from GAF Code
/GAFCode/__pycache__/*
/GAFCode/__pycache__
/GAFCode/.ipynb_checkpoints
/GAFCode/.ipynb_checkpoints/*